
<article class="overzichtslijst betalen_<%=post.attributes.BETALEND%> unisex_<%=post.attributes.DOELGROEP%> toegang_<%=post.attributes.INTEGRAAL_TOEGANKELIJK%>">

<a class="fulllink" href="/detail/<%=postIndex %>">

  <span class="ol"><%=post.attributes.TYPE%></span><br>
  <span class="ol"><%=post.attributes.STRAAT%> <%=post.attributes.HUISNUMMER%></span><br>

  </a>

</article>


<%include footer%>
