<%include header%>



<article class="detail">
  <span class="ol">Type: <%=post.attributes.TYPE %></span><br> <br>
  <span class="ol">Beschrijving: <%=post.attributes.OMSCHRIJVING%></span><br><br>
  <span class="ol">Adres: <%=post.attributes.STRAAT%> <%=post.attributes.HUISNUMMER%></span><br><br>
  <span class="ol"><%=post.attributes.DISTRICT%></span><br><br>
  <span class="ol">Openingsuren: <%=post.attributes.OPENINGSUREN_OPM%></span><br><br>
  <span class="ol">Gratis: <%=post.attributes.BETALEND%></span><br><br>
  <button>Go</button>
</article>

<div id="mapid" class="detailmap"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<!--<script src="/./js/script.js"></script>-->



<script>

var map = L.map('mapid').setView([<%=post.geometry.y %>, <%=post.geometry.x %>], 19);
  L.marker([ <%=post.geometry.y %> , <%=post.geometry.x %> ])
    .addTo(map);

//voorbeeld custom marker
//L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map).bindPopup("I am a green leaf.");

var basicmap = L.tileLayer('https://tile.thunderforest.com/mobile-atlas/{z}/{x}/{y}.png?apikey={apikey}', {
	attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	id: 'mapbox.streets',
	apikey: '9ca3811048a94fedb11d6c701bde8bc3',
	maxZoom: 24
}).addTo(map);

</script>


<%include footer%>
