<% include header %>

<button class="overviewtitle" data-toggle="collapse" data-target="#content" style="font-size:24px" id="secondaryButton" onclick="document.getElementById('primaryButton').click()"><i class="fa fa-bars"></i></button>


<div class="collapse" id="content">

<!--filteropties-->
  		<div class="button-group filter-by-button-group">
   
  			<button class="button is-checked" data-filter="*" id="primaryButton" onclick="ExistingLogic()" >Alle wc's</button>
  			<button class="button" data-filter=".unisex_man/vrouw">man/vrouw</button>
  			<button class="button" data-filter=".betalen_nee">betalend</button>
  			<button class="button" data-filter=".toegang_ja">toegankelijk</button>

  		</div>

<!--opbouwen deeloverzicht vanuit database-->

<section>
  <%
  var blogLength = data.length;
  for(var postIndex=0; postIndex<blogLength; postIndex++) {
  %>
  <section>
    <% var post = data[postIndex] %>
    <% include deelOverzicht %>
  </section>
  <%
  }
  %>
</section>
</div>

<!--div voor leaflet-map-->
<div id="mapid"></div>

<!--javascript voor pop-up menu overzicht-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<!--Routing script-->
<script src="/./routing/leaflet-routing-machine.js"></script>
<!--Isotope JS file-->
<script src="/./js/isotope.js"></script>
<!--JavaScript file-->
<script src="/./js/script.js"></script>


<script>

var LeafIcon = L.Icon.extend({
    options: {
        iconSize:     [60,60],
        iconAnchor:   [30,30],
        popupAnchor:  [0,-20],
    }
});

var toiletIcon = new LeafIcon({iconUrl: 'toiletIcon.png'});

<% for ( var i=0; i < data.length; i++ ) {%>
   L.marker( [<%=data[i].geometry.y%>, <%=data[i].geometry.x%>], {icon: toiletIcon}).addTo(mymap).bindPopup( '<a href="/detail/<%=i%>"><%=data[i].attributes.TYPE%><br><%=data[i].attributes.OMSCHRIJVING%></a>');
<% }%>


</script>

<%include footer%>
