<% include header %>

<button class="overviewtitle" data-toggle="collapse" data-target="#content" style="font-size:24px" ><i class="fa fa-bars"></i></button>


<div class="collapse" id="content">

<!--filteropties-->
  		<div class="button-group filter-by-button-group">
  			<button class="button is-checked" data-filter="*"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>logo_kakapp</title><g id="icons_selfmade"><path d="M64.28,37.72l.24-1.7H42.41V12.84H22.67v24c-.51,10.61,5.5,15,9.65,16.11v1.78H24.6V66.84H59.79V54.69H49.49V53.12C62.17,52.08,64.26,37.87,64.28,37.72ZM39.41,15.84v20.5H25.67V15.84ZM56.79,57.69v6.15H27.6V57.69h7.76l0-.53V50.37L34,50.2c-.34-.05-7.7-1.18-8.33-10.86H60.84a19.49,19.49,0,0,1-1.91,4.5A12,12,0,0,1,48,50.18h-1.5v7.51Z"/></g></svg></button>
  			<button class="button" data-filter=".unisex_man"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>logo_kakapp</title><g id="icons_selfmade"><path d="M44.11,64c-.44.11-.55.29-.54.71,0,1.19,0,2.38,0,3.57a4.12,4.12,0,1,1-8.23,0c0-1.17,0-2.34,0-3.51,0-.5-.16-.66-.62-.77-2.84-.69-5.67-1.41-8.5-2.12l-3-.8c.16-5.34.33-13.85.5-19.19.21-6.22.43-14.94.61-21.16H34.92c.3-1,.59-2,.87-3s.88-1.06,2.32-.58a4.08,4.08,0,0,0,2.22.07c2.18-.52,2.84-.48,3.07.66.16.81.38,1.6.52,2.4.07.4.25.49.62.49,3.29,0,6.58,0,9.87,0,.26,5.26.4,10.53.58,15.79q.33,9.87.65,19.72c0,1.14.18,4.23.18,4.23M53.33,41.18h0l-.57-16.79-.05-1.91-10,0-16.49,0h0q-.16,4.53-.31,9.05Q25.43,45.6,25,59.67q6.36,1.59,12.71,3.16a7.72,7.72,0,0,0,3.94-.19c3.26-.83,6-1.47,9.36-2.31l2.93-.92C53.7,53.89,53.52,46.7,53.33,41.18ZM41.68,64.8H37.21c0,1.72,0,3.53,0,5.31L41.72,70m.56-49.33-.53-1.78c0-.12-.27-.25-.41-.25-1.19,0-2.38,0-3.56,0-.15,0-.39.09-.42.19l-.63,1.84Z"/><path d="M28.28,41.28V26.41c0-1,.28-1.24,1.26-1.24H49.39c.93,0,1.26.32,1.26,1.2V56.11c0,1-.23,1.24-1.2,1.36-2.75.33-5.49.76-8.25,1a36.43,36.43,0,0,1-5.42-.19c-1.69-.15-3.38-.39-5.07-.61a2.79,2.79,0,0,1-2.43-2.77Zm20.5,13.17v-26a1.4,1.4,0,0,0-1.4-1.4H31.51a1.4,1.4,0,0,0-1.4,1.4v26a1.4,1.4,0,0,0,1.12,1.37,42.06,42.06,0,0,0,16.43,0A1.4,1.4,0,0,0,48.78,54.45Z"/><circle cx="35.94" cy="53.29" r="0.52"/><circle cx="37.77" cy="53.29" r="0.52"/><circle cx="39.61" cy="53.29" r="0.52"/><circle cx="41.44" cy="53.29" r="0.52"/><circle cx="37.77" cy="54.79" r="0.52"/><circle cx="39.61" cy="54.79" r="0.52"/><circle cx="41.44" cy="54.79" r="0.52"/><circle cx="43.27" cy="53.29" r="0.52"/></g></svg></button>
  			<button class="button" data-filter=".betalen_nee"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><defs><style>.cls-1{font-size:34px;font-family:TurretRoad-Medium, Turret Road;}</style></defs><title>logo_kakapp</title><g id="icons_selfmade"><text class="cls-1" transform="translate(25.9 53.39)">€</text><path d="M66.77,65.69l-8.11-7.75A25.23,25.23,0,0,0,22.23,23.1l-8.94-8.54-2.07,2.17,9,8.56a25.24,25.24,0,0,0,36.39,34.8l8.13,7.77ZM39.61,19.14A22.23,22.23,0,0,1,56.49,55.86L24.4,25.18A22.15,22.15,0,0,1,39.61,19.14Zm0,44.5A22.23,22.23,0,0,1,22.35,27.37L54.39,58A22.12,22.12,0,0,1,39.61,63.64Z"/></g></svg></button>
  			<button class="button" data-filter=".toegang_ja"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"><title>logo_kakapp</title><g id="icons_selfmade"><path d="M56.13,45.68c-.3-.58-1.85-3-7-2.73H39.41l-.09-1.28,9.55.25.33-.17a4.75,4.75,0,0,0,2.59-3.46c.15-1.57-.74-3.09-2.64-4.51l-.4-.3H39.08l-.54-5.88L38,27.2a12.38,12.38,0,0,0-3.11-1.47,7.06,7.06,0,1,0-5.1-.09,7.75,7.75,0,0,0-4.18,3.55l-.26.43,2.55,24.13H49.32l7.29,13.09.33.21a7,7,0,0,0,3.29.93,4.57,4.57,0,0,0,1.87-.38c1.59-.69,2.64-2.24,3.12-4.6l.11-.54ZM28.37,19.09a4.07,4.07,0,1,1,4.07,4.08A4.07,4.07,0,0,1,28.37,19.09ZM60.91,64.85a2.81,2.81,0,0,1-2.09-.21L51.08,50.75H30.57L28.41,30.33a4.39,4.39,0,0,1,2.72-2,7.06,7.06,0,0,1,4.55.95l.66,7.16H47.73c.82.69,1.1,1.24,1.08,1.53a1.58,1.58,0,0,1-.68.89l-12-.31L36.61,46H49.18c3.39-.2,4.24,1,4.25,1h0l8.73,15.94A2.87,2.87,0,0,1,60.91,64.85Z"/><path d="M28.82,66.54a16.29,16.29,0,0,1-5.5-31.63l-1-2.83a19.29,19.29,0,1,0,23.75,26.8l-2.68-1.35A16.22,16.22,0,0,1,28.82,66.54Z"/></g></svg></button>
  		</div>

<!--opbouwen deeloverzicht vanuit database-->

<section>
  <%
  var blogLength = data.length;
  for(var postIndex=0; postIndex<blogLength; postIndex++) {
  %>
  <section>
    <% var post = data[postIndex] %>
    <% include deelOverzicht %>
  </section>
  <%
  }
  %>
</section>
</div>

<!--div voor leaflet-map-->
<div id="mapid"></div>

<!--javascript voor pop-up menu overzicht-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--Leaflet JavaScript file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
<!--Routing script-->
<script src="/./routing/leaflet-routing-machine.js"></script>
<!--Isotope JS file-->
<script src="/./js/isotope.js"></script>
<!--JavaScript file-->
<script src="/./js/script.js"></script>


<script>

var LeafIcon = L.Icon.extend({
    options: {
        iconSize:     [60,60],
        iconAnchor:   [30,30],
        popupAnchor:  [0,-20],
    }
});

var toiletIcon = new LeafIcon({iconUrl: 'toiletIcon.png'});

<% for ( var i=0; i < data.length; i++ ) {%>
   L.marker( [<%=data[i].geometry.y%>, <%=data[i].geometry.x%>], {icon: toiletIcon}).addTo(mymap).bindPopup( '<a href="/detail/<%=i%>"><%=data[i].attributes.TYPE%><br><%=data[i].attributes.OMSCHRIJVING%></a>');
<% }%>


</script>

<%include footer%>
